.git
.gitignore
.dockerignore
Dockerfile

venv
.venv
env
__pycache__
*.py[cod]
*$py.class

build
dist
*.egg-info

.pytest_cache
.mypy_cache
.ruff_cache
.pyrefly

.env
.env.*
*.log
*.tmp

.DS_Store
Thumbs.db
